body {
    height: 90vh;
    width: auto;
    margin: 20px;
}

.calculator {
    position: relative;
    border: 3px solid gray;
    width: 25%;
    height: 90%;
    margin: 7vh auto;
    /* background-color: blueviolet; */
    background-image: linear-gradient(turquoise, violet);
    box-shadow: 9px 9px 9px grey;
    border: 2px outset black;
}

#result {
    position: absolute;
    height: 15%;
    width: 85%;
    margin: 15% 6%;
    font-size: 25px;
    text-align: center;
    box-shadow: 5px 5px 9px grey;
    border: 2px outset black;
}

button {
    position: relative;
    height: 60px;
    width: 60px;
    color: grey;
    outline: 1px solid black;
    border: none;
    font-size: 20px;
    cursor: auto;
    border: 3px outset;
    box-shadow: 4px 4px 9px grey;

}

button:hover {
    color: black;
    outline: 0.05em solid grey;
    z-index: 3;
    top: -4px;
    height: 67px;
    width: 67px;
    font-size: 26px;
    font-weight: 900;
    box-shadow: 7px 7px 9px grey;

}

button:active {
    box-shadow: 4px 4px 9px grey;
    height: 65px;
    width: 65px;
    top: -3 px;
}

#rows {
    position: absolute;
    /* border: 3px solid blue; */
    width: 90%;
    height: 65%;
    top: 33%;
    left: 6%;

}

#r1 {
    position: absolute;
    display: flex;
    justify-content: space-around;
    /* border: 3px solid blue; */
    width: 100%;
}

#r2 {
    position: absolute;
    /* border: 3px solid blue; */
    width: 100%;
    top: 25%;
    display: flex;
    justify-content: space-around;
}

#r3 {
    position: absolute;
    /* border: 3px solid blue; */
    width: 100%;
    top: 50%;
    display: flex;
    justify-content: space-around;
}

#r4 {

    /* border: 3px solid blue; */
    position: absolute;
    width: 100%;
    top: 75%;
    display: flex;
    justify-content: space-around;
}


.b1:hover,
.b2:hover,
.b3:hover,
.b4:hover,
.b5:hover,
.b6:hover,
.b7:hover,
.b8:hover,
.b9:hover,
.b10:hover,
.b11:hover,
.b12:hover,
.b13:hover,
.b14:hover,
.b15:hover,
.b16:hover {
    animation: changeColor 2s infinite;
}


@keyframes changeColor {
    0% {
        background-color: rgb(255, 0, 0);
    }

    10% {
        background-color: rgb(255, 123, 0);
    }

    20% {
        background-color: rgb(251, 255, 123);
    }

    30% {
        background-color: rgb(0, 255, 0);
    }

    40% {
        background-color: rgb(0, 255, 123);
    }

    50% {
        background-color: rgb(123, 255, 255);
    }

    60% {
        background-color: rgb(0, 0, 255);
    }

    70% {
        background-color: rgb(0, 123, 255);
    }

    80% {
        background-color: rgb(123, 255, 255);
    }

    90% {
        background-color: rgb(255, 0, 85);
    }

    100% {
        background-color: rgb(255, 0, 0);
    }
}