
h1{
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
    text-transform: uppercase;
    text-shadow: 3px 3px 2px blue, -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

h1:hover{
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: rgb(248, 193, 193);
    text-transform: uppercase;
    text-shadow: 3px 3px red, -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.im{
    margin-left:3.5%;
}
img:hover{
    border-radius: 30px;
    border: 3px solid sandybrown;
}