 body{
    display: block;
    text-align: center;
 } 
.container{
    border-radius: 30px;
    padding: 20px;
    margin: 0px 500px;
    display: block;
    text-align: center;
    background-color: rgb(72, 72, 90);
    color: burlywood;
    font-size: large;
}
.container:hover{
    border-radius: 30px;
    padding: 30px;
    margin: 0px 500px;
    display: block;
    text-align: center;
    background-color: rgb(41, 41, 212);
    color: white;
    text-transform: uppercase;
    font-size: larger;
}
label{
    display: block;
    text-align: center;
    padding: 10px;
}
input{
    border-radius: 30px;
    padding: 5px;
    background-color: rgb(208, 221, 131);
    color: rgb(245, 31, 31);
}
input:hover{
    border-radius: 35px;
    padding: 7px 30px;
    background-color: rgb(153, 212, 216);
}
option{
    border-radius: 35px;
    padding: 7px 30px;
    background-color: rgb(3, 198, 212);    
}
select{
    border-radius: 30px;
    padding: 5px;
    background-color: rgb(208, 221, 131);
}
select:hover{
    border-radius: 30px;
    padding: 7px 30px;
    background-color: rgb(153, 212, 216);
}
button{
    padding: 5px;
    margin: 10px;
    border-radius: 30px;
    background-color: rgb(50, 248, 66);
}
button:hover{
    padding: 7px 30px;
    margin: 10px;
    border-radius: 30px;
    background-color: rgb(238, 49, 181);
}
