h1 {
    display: block;
    text-align: center;
    color: white;
    text-transform: uppercase;
    text-shadow: 3px 3px blue, -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#navbar a {
    text-decoration: none;
    align-content: first baseline;
}

nav a:hover {
    color: whitesmoke;
}

.bod {
    margin: 50px 50px 0px 50px;
    background-color: rgb(97, 83, 83);
    padding: 10px;
    border: 3px solid black;
    border-style: double;
}

.bod1 {
    margin: 0px 50px;
    background-color: #908d91;
    padding: 10px;
    text-align: center;
}

.bod1 h3,
.bod1 p {
    padding: 0%;
    margin: 0%;
    color: rgb(0, 0, 0);
}

.bod1 h3:hover,
.bod1 p:hover {
    padding: 0%;
    margin: 0%;
    color: rgb(19, 2, 255);
    font-weight: 900;
}

.about {
    margin: 20px 200px;
    text-align: justify;
    font-size: large;
    line-height: 1.5;
}

.skil {
    width: 40%;
    font-size: large;
    line-height: 1.5;
    margin-left: 28%;
    margin-right: 30%;
    padding-left: 0%;
}

.about h3 {
    text-align: center;
}

.inner {
    color: white;
}

.bod1 #skills .skil ul li {
    display: block;
    text-transform: uppercase;
    text-align: center;
    margin: 2%;
    padding: 0%;
    border: 3px solid white;
    border-style: outset;
    background-color: aqua;

}

.bod1 #skills .skil ul li:hover {
    display: block;
    text-transform: uppercase;
    text-align: center;
    margin: 2%;
    padding: 0%;
    border: 5px solid white;
    border-style: outset;
    box-shadow: 3px 3px blue, -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color: blue;
    background-color: rgb(82, 226, 226);

}

.pro {
    width: 45%;
    margin-left: 27.5%;
    background-color: rgb(97, 83, 83);
    border-radius: 30px;
    padding: 20px; padding-right: 40px;
}
.pro:hover {
    width: 45%;
    margin-left: 27.5%;
    background-color: rgb(97, 83, 83);
    border-radius: 30px;
    border: 3px solid black;
    padding: 20px; padding-right: 40px;
}

.bod1 #project .pro ul li {
    display: block;
    text-transform: uppercase;
    text-align: center;
    margin: 3%;
    padding: 0%;
    border: 3px solid rgb(180, 180, 180);
    border-style: inset;
}

.bod1 #project .pro ul li:hover {
    display: block;
    text-transform: uppercase;
    text-align: center;
    margin: 2%;
    padding: 0%;
    border: 5px solid white;
    border-style: outset;
    box-shadow: 3px 3px rgb(99, 228, 105), -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color: rgb(79, 176, 189);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

}


.bod1 #contact .cont {
    /* display: block; */
    width: 35%;
    margin-left:-1.5%;
    background-color: rgb(215, 233, 230);
    border-radius: 20px;
    padding: 10px;

}

.bod1 #contact .cont:hover {
    /* display: block; */
    width: 45%;
    margin-left: -1.5%;
    background-color: rgb(231, 209, 209);
    border-radius: 20px;
    padding: 10px;
    border: 4px solid grey;
    color: blue;
}

.bod1 #contact .cont p {
    padding: 5px;
    display: block;
    text-align: center;
}


.inner:hover {
    padding: 0%;
    margin: 0%;
    font-weight: 900;
}

.lef {
    float: left;
    width: 15%;
    margin-left: 10%;
    display: block;
    text-align: center;
    justify-content: center;
}

.rig {
    float: right;
    width: 65%;
    margin-right: 10%;
    display: block;
    text-align: center;
}

nav {
    border-radius: 30px;
    background-image: linear-gradient(red, yellow);
}

img {
    margin: 0% 43%;
    width: 160px;
    height: 210px;

    border-radius: 30px;
}

img:hover {
    margin: 0% 41%;
    width: 165px;
    height: 215px;
    border: 8px solid rgb(190, 66, 221);
    border-style: double;
    border-radius: 30px;
}

nav ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

li {
    font-size: larger;
    font-weight: bolder;
    display: inline;
    margin-left: 10%;
}

/* .table{
    background-color: white;
    width: 40%;
    margin-left: 30%;
    text-transform: uppercase;
    text-align: center;
    border: 4px solid blue;
}
.table tbody td{
    border: 4px solid blue;

}*/
.table tbody td ul li {
    display: block;
    text-align: left;
    padding-right: 40px;
    margin: 0%;
    font-weight: 500;
}

table {
    margin: 20px auto;
    text-transform: uppercase;
}

table,
th,
td {
    border-collapse: collapse;
    padding: 10px;
    border-style: double;
}

th {
    text-align: center;
    background-color: rgb(13, 255, 13);
    color: black;
    font-weight: bolder;
}

td {
    background-color: rgb(176, 241, 243);
    text-align: center;
}

td:hover {
    box-shadow: 3px 3px rgb(203, 228, 94), -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

}

table:hover,
th:hover,
td:hover {
    border-collapse: collapse;
    padding: 15px;
    border-style: ridge;
    background-color: rgb(122, 122, 212);

}