/* Global styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  h1, h2, h3 {
    color: #333;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    display: inline;
    margin-right: 20px;
  }
  
  nav a {
    text-decoration: none;
    color: #333;
  }
  
  /* Section styles */
  header {
    background-color: #f2f2f2;
    padding: 20px;
  }
  
  section {
    padding: 40px;
  }
  
  #about {
    background-color: #eee;
  }
  
  #projects {
    background-color: #f9f9f9;
  }
  
  .project {
    margin-bottom: 20px;
  }
  
  .skills li {
    margin-bottom: 10px;
  }
  
  #experience {
    background-color: #f2f2f2;
  }
  
  .job {
    margin-bottom: 20px;
  }
  
  #contact {
    background-color: #eee;
    padding: 20px;
  }
  
  footer {
    background-color: #f2f2f2;
    padding: 10px;
    text-align: center;
  }
  