body{
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    border-radius: 30px;
    padding: 10px;
    border: 3px;
    border-style: solid;
}
button:hover{
    border-radius: 30px;
    padding: 10px 25px;
    border: 7px;
    border-style: double;
}
.top{
    padding: 20%;
    background-color: #00ffff;
}