body {
    height: 95vh;
    width: 100%;
    background-image: url('../images/shinchan.webp');
    background-repeat: no-repeat;
    background-size: cover;
}

.marquee {
    font-weight: 900;
    background-color: rgb(0, 255, 255);
    border-radius: 50% 0 50% 0;
    width: 20%;
    margin-left: 40%;
    margin-top: 1%;
    padding: 0.5%;
    font-size: larger;
    color: white;
    text-transform: uppercase;
    text-shadow: 3px 3px 3px blue, -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.marquee:hover {
    
    animation: shake .8s;
    animation-iteration-count: infinite;
    font-weight: 900;
    background-color: rgba(0, 255, 255, 0.945);
    border-radius: 50% 0 50% 0;
    width: 20%;
    margin-left: 40%;
    margin-top: 1%;
    padding: 0.5%;
    font-size: larger;
    color: white;
    text-transform: uppercase;
    box-shadow: 3px 3px 3px gold, -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.container {
    width: 90%;
    margin-left: 5%;
    display: block;
    /* background-color: aqua; */

}

h1 {
    background-image: linear-gradient(orange, white, green);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

    color: blue;
    text-transform: uppercase;
    text-shadow: 3px 3px white, -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

}
h1:hover {
    background-image: linear-gradient(orange, white, green);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

    animation: shake .8s;
    animation-iteration-count: infinite;
    color: blue;
    text-transform: uppercase;
    text-shadow: 3px 3px white, -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

}

img {
    height: 150px;
    width: 150px;
    margin-left: 65px;
    border: 6px solid lawngreen;
    border-style: outset;
    border-radius: 30px, 0px, 30px, 0px;
}
img:hover{
    animation: shake .4s;
    animation-iteration-count: infinite;
}
@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}